daemon off; # En raison de la façon dont Heroku fonctionne
port ENV['PORT']; # Écoutez sur le bon port
server {
    location / {
        proxy_pass https://monwebsite-4f67b15efaba.herokuapp.com/; # Passez les requêtes à votre application
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
